In [2]:
import pandas as pd
import numpy as np

In [3]:
ls

Untitled.ipynb
house-prices-advanced-regression-techniques/
layoffs_data.csv

In [38]:
df = pd.read_csv('layoffs_data.csv')

In [39]:
df

,Company,Location,Industry,Percentage,Date,Source,Funds_Raised,Stage,Date_Added,Country,Laid_Off_Count,List_of_Employees_Laid_Off
0,Bilibili,Shanghai,Media,0.30,2022-12-27,https://technode.com/2022/12/27/bilibili-repor...,3700.0,IPO,2022-12-30 15:59:06,China,NaN,Unknown
1,Octopus Network,Beau Vallon,Crypto,0.40,2022-12-27,https://heraldsheets.com/cold-crypto-winter-fo...,8.0,Series A,2022-12-30 16:00:19,Seychelles,NaN,Unknown
2,PayU,Amsterdam,Finance,0.06,2022-12-26,https://www.livemint.com/companies/news/payu-l...,NaN,Acquired,2022-12-26 23:29:37,Netherlands,150.0,Unknown
3,Back Market,Paris,Retail,0.13,2022-12-23,https://sifted.eu/articles/startup-tech-compan...,1000.0,Series E,2022-12-27 16:33:45,France,93.0,Unknown
4,Zoopla,London,Real Estate,NaN,2022-12-23,https://www.linkedin.com/posts/zoopla_its-with...,25.0,Series C,2022-12-30 23:25:30,United Kingdom,50.0,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
1845,HopSkipDrive,Los Angeles,Transportation,0.10,2020-03-13,https://layoffs.fyi/2020/04/02/hopskipdrive-la...,45.0,Unknown,2020-04-03 04:47:03,United States,8.0,Unknown
1846,Panda Squad,SF Bay Area,Consumer,0.75,2020-03-13,https://twitter.com/danielsinger/status/123854...,1.0,Seed,2020-04-17 00:12:49,United States,6.0,Unknown
1847,Tamara Mellon,Los Angeles,Retail,0.40,2020-03-12,https://layoffs.fyi/list/tamara-mellon/,90.0,Series C,2020-03-31 16:04:23,United States,20.0,Unknown
1848,EasyPost,Salt Lake City,Logistics,NaN,2020-03-11,https://www.bizjournals.com/louisville/news/20...,12.0,Series A,2020-03-31 13:21:54,United States,75.0,Unknown
1849,Homebound,SF Bay Area,Real Estate,NaN,NaN,Internal memo,128.0,Unknown,2022-12-03 05:20:31,United States,NaN,https://docs.google.com/spreadsheets/d/1NzI8n_...

In [50]:
by_industry = df[['Industry', 'Company']].sort_values('Industry').groupby(by='Industry').count()

In [51]:
by_industry

                Company
Industry
Aerospace             6
Construction         14
Consumer             89
Crypto               72
Data                 61
Education            80
Energy               11
Finance             232
Fitness              27
Food                116
HR                   45
Hardware              2
Healthcare          134
Infrastructure       36
Legal                 9
Logistics            34
Marketing           114
Media                77
Other                83
Product              29
Real Estate         105
Recruiting           28
Retail              152
Sales                27
Security             55
Support              27
Transportation      117
Travel               62
Unknown               6